if SHIELD_EKGO_LEFT

config ZMK_KEYBOARD_NAME
    default "Ekgo"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_EKGO_LEFT || SHIELD_EKGO_RIGHT

config ZMK_SLEEP
    default y

config ZMK_SPLIT
    default y

config BT_CTLR
    default BT

config ZMK_BATTERY_REPORTING
    default y

config ZMK_EXT_POWER
    default y

config ZMK_DISPLAY
    default y

endif
